<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<html lang="en">
<head>
	<title>CyberSoft.edu.vn-MyClass</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Domicus-Class Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />

<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/zoomslider.css" />

<!-- carousel slider -->  
<link href="css/owl.carousel.css" rel="stylesheet" type="text/css" media="all"> 
<!-- //carousel slider -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<script type="text/javascript" src="js/modernizr-2.6.2.min.js"></script>
<script src="js/jquery-2.2.3.min.js"></script>
<script src="js/bootstrap.js"></script>

</head>
<body>
	<!--/banner-section-->
	<div id="demo-1" data-zs-src='["images/avatar1.jpg","images/avatar2.jpg","images/avatar7.jpg","images/avatar5.jpg","images/avatar9.jpg"]' data-zs-overlay="dots">
		<div class="demo-inner-content">
			<!--/header-CSl-->
			<div class="header-CS-agileits" id="home">
				<div class="inner-header-agile">	
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a href="index.html"><img src="images/cybersoft-logo-min.png" alt=""/></a>
						</div>
						<!-- navbar-header -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li class="active"><a href="index.html">HOME</a></li>
								<li><a href="#about" class="scroll">ABOUT</a></li>
								<li><a href="#agileits-services" class="scroll">Services </a></li>
								<li><a href="#team" class="scroll">TEAM</a></li>
								<li><a href="#testimonials" class="scroll" >Testimonials</a></li>
								<li><a href="#contact" class="scroll">contact</a></li>
								<li><a href="../signin/index.html" >login</a></li>
								<li><a href="../signin/index.html" class="scroll">My course</a></li>
							</ul>
						</div>
						<div class="clearfix"> </div>	
					</nav>
				</div> 

			</div>
			<!--/banner-info-->
			<div class="baner-info">
				<h4>The best learning institution</h4>
				<h3><span>w</span>elcome to my <span>C</span>lass</h3>
				<p>NO Pressure NO Diamond</p>
				<a class="hvr-rectangle-out play_icon1" href="#" data-toggle="modal" data-target="#myModal" id="go"> Start </a>
			</div>
			<!--/banner-ingo-->		
		</div> 
	</div>
	<!--/banner-section-->
	<!--about -->
	<div id="about" class="wthree-about cs-section">
		<div class="container">
			<div class="agileits-banner-grids text-center">
				<div class="banner-bottom-girds">
					<div class="agileits-banner-grid bg-cs-active">
						<span class="fa fa-university banner-icon" aria-hidden="true"></span>
						<h4>FRONT-END</h4>
						<p>Đào tạo & cấp chứng nhận VÀ GIỚI THIỆU VIỆC LÀM Chuyên Gia Front End làm việc toàn cầu theo mô hình dự án với các kỹ năng chuyên nghiệp, kỹ năng mềm.</p>
						<a class="hvr-rectangle-out play_icon1" href="#" data-toggle="modal" data-target="#myModal_1">XEM DEMO</a>
					</div>
					<div class="agileits-banner-grid">
						<span class="fa fa-tags banner-icon" aria-hidden="true"></span>
						<h4>FULL-STACK</h4>
						<p>Đào tạo & cấp chứng nhận Chuyên Gia FULL-STACK JAVASCRIPT VỚI REACT JS,NODE JS/EXPRESS làm việc toàn cầu theo mô hình dự án thực tế. </p>
						<a class="hvr-rectangle-out play_icon1" href="#" data-toggle="modal" data-target="#myModal_2"> XEM DEMO</a>
					</div>
					<div class="clearfix"></div>
				</div>		
			</div>	
			<h2 class="cs-title">about us</h2>
			<h5>CYBERSOFT ACADEMY</h5>
			<div class="col-md-7  cs-about-left" >
				<p class="about-bottom">CNTT hiện nay rất phát triển và quan trọng trong thực tế, ứng dụng CNTT đã tạo ra nhiều sản phẩm góp phần nâng cao chất lượng cuộc sống của con người, tạo nền tảng giúp nền kinh tế phát triển. Có thể thấy, một đất nước phát triển cần một nền CNTT mạnh, đội ngũ kỹ sư IT tài năng.</p>
				<p class="about-bottom">Nhu cầu tuyển dụng ngày càng cao, nhân sự yêu cần ngày càng chất lượng, tuy vậy rất nhiều bạn sinh viên ra trường đều không đáp ứng được yêu cầu tuyển dụng. Do phần lớn các bạn thiếu kinh nghiệm về kiến thức chuyên môn vì vốn dĩ khi học, bạn chỉ được cung cấp kiến thức lý thuyết mà thiếu sự thực hành dự án. Bên cạnh đó, các kỹ năng mềm như kỹ năng làm việc nhóm hay kỹ năng giải quyết vấn đề của bạn cũng chưa cao. Đây chính là nguyên nhân khiến bạn khó vượt qua các vòng tuyển dụng của một công ty tốt.</p>
				<p class="about-bottom">Chưa hết, các bạn trẻ thường thiếu tư duy trong công việc, cách làm việc còn non trẻ, phong cách lập trình chưa ổn, thiếu khả năng phân tích. Vì thế, khi bắt tay vào dự án thực tế hay bất kỳ dự án lớn thì đa phần các bạn sẽ gặp khó khăn, bỡ ngỡ, không biết nên bắt đầu như thế nào.</p>
				<p class="about-bottom">Điều này xuất phát từ sự thiếu đầu tư về phần cốt lõi như học lập trình bạn chỉ chạy theo ngôn ngữ mà không nắm rõ điểm mấu chốt để giải quyết một dự án. Theo thời gian, nó sẽ khiến bạn mất căn bản, dẫn đến tình trạng nhàm chán, thiếu tinh thần cầu tiến trong học tập và không đáp ứng  đủ các yêu cầu tuyển dụng.</p>
				<p class="about-bottom">Nắm bắt được nhu cầu thiết thực đó cùng với sự tâm huyết và kinh nghiệm có được, đội ngũ học viện CyberSoft.edu.vn ra đời với mong muốn mang tất cả những kinh nghiệm đã tích lũy trong quá trình thực tế để truyền đạt, mang lại niềm cảm hứng và một nền tảng vững chắc cho các bạn học viên theo đuổi ngành CNTT.</p>
			</div>
			<div class="col-md-5 cs-row">
				<div class="col-md-6 col-sm-6 wthree-about-left">
					<img src="images/z8.jpg" class="img-responsive" alt=""/>
				</div>
				<div class="col-md-6 col-sm-6 cs-row alert wthree-about-right">
					<img src="images/z2.jpg" class="img-responsive" alt=""/>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-5 cs-row">
				<div class="col-md-6 col-sm-6 wthree-about-left">
					<img src="images/z3.jpg" class="img-responsive" alt=""/>
				</div>
				<div class="col-md-6 col-sm-6 cs-row alert wthree-about-right">
					<img src="images/z4.jpg" class="img-responsive" alt=""/>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-5 cs-row">
				<div class="col-md-6 col-sm-6 wthree-about-left">
					<img src="images/z5.jpg" class="img-responsive" alt=""/>
				</div>
				<div class="col-md-6 col-sm-6 cs-row alert wthree-about-right">
					<img src="images/z6.jpg" class="img-responsive" alt=""/>
				</div>
				<div class="clearfix"> </div>
			</div>									
			<div class="clearfix"> </div>
			<div class="stats-info agileits-CSlayouts">
				<div class="col-sm-3 col-xs-3 stats-grid">
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='324' data-delay='.4' data-increment="1">150+</div>
					<div class="stats-img stat2">
						<p>Học Viên</p>
					</div>
				</div>
				<div class="col-sm-3 col-xs-3 stats-grid">
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='200' data-delay='.4' data-increment="1">10000+</div>
					<div class="stats-img stat2">
						<p>Lượt Truy Cập</p>
					</div>
				</div>
				<div class="col-sm-3 col-xs-3 stats-grid stat1">
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='156' data-delay='.4' data-increment="1">100+</div>
					<div class="stats-img stat2">
						<p>Bằng khen</p>
					</div>
				</div>
				<div class="col-sm-3 col-xs-3 stats-grid stat1">
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='156' data-delay='.4' data-increment="1">200k+</div>
					<div class="stats-img stat2">
						<p>User</p>
					</div>
				</div>
				<div class="col-sm-3 col-xs-3 stats-grid stat1">
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='156' data-delay='.4' data-increment="1">20k+</div>
					<div class="stats-img stat2">
						<p>Subcriber</p>
					</div>
				</div>
				<div class="col-sm-3 col-xs-3 stats-grid stat1">
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='156' data-delay='.4' data-increment="1">20k+</div>
					<div class="stats-img stat2">
						<p>Like</p>
					</div>
				</div>
				<div class="col-sm-3 col-xs-3 stats-grid stat1">
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='156' data-delay='.4' data-increment="1">60+</div>
					<div class="stats-img stat2">
						<p>Khóa học</p>
					</div>
				</div>
				<div class="col-sm-3 col-xs-3 stats-grid stat1">
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='156' data-delay='.4' data-increment="1">20+</div>
					<div class="stats-img stat2">
						<p>Đối tác</p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //about -->
	<!--services-->
	<div class="agileits-services cs-section" id="agileits-services" >
		<div class="container">
			<h3 class="cs-title">services</h3>
			<div class="agileits-services-row">
				<div class="col-md-3 col-sm-6 agileits-services-grids">
					<span class="glyphicon glyphicon-stats effect-1" aria-hidden="true"></span>
					<h4>ĐỊNH HƯỚNG</h4>
					<p>CyberSoft sẽ định hướng và đưa ra các lộ trình học tập cho nghề bạn theo đuổi. Phát triển năng lực và niềm đam mê cảm hứng lập trình của bạn.</p>
				</div>
				<div class="col-md-3 col-sm-6 agileits-services-grids">
					<span class="glyphicon glyphicon-user effect-1" aria-hidden="true"></span>
					<h4>NỀN TẢNG</h4>
					<p>CyberSoft cung cấp những nền tảng, giá trị tư duy cốt lõi nhất trong lập trình. Bạn sẽ tự tin trước sự thay đổi của công nghệ và môi trường làm việc.</p>
				</div>
				<div class="col-md-3 col-sm-6 agileits-services-grids">
					<span class="glyphicon glyphicon-list-alt effect-1" aria-hidden="true"></span>
					<h4>TẬN TÌNH</h4>
					<p>Bạn sẽ được giao dự án và làm theo Teamwork ngay từ ngày đầu tiên. Đóng vai trò một thành viên trong qui trình Scrum, Agile. Được Mentor hỗ trợ tân tâm, nhiệt tình.</p>
				</div>
				<div class="col-md-3 col-sm-6 agileits-services-grids">
					<span class="glyphicon glyphicon-check effect-1" aria-hidden="true"></span>
					<h4>CHUYÊN SÂU</h4>
					<p>Bạn được học và trải nghiệm các công nghệ lập trình mới nhất, chuyên sâu, bám sát nhu cầu tuyển dụng thực tế từ doanh nghiệp.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--//agileits-services-->
	<!-- team -->
	<div class="testimonials cs-section" id="team">
		<div class="container">
			<h3 class="cs-title">Our Team</h3>
			<div class="testimonials_grids testimonials_grids">
				<div id="owl-demo" class="owl-carousel"> 
					<div class="item agileits_testimonials_grid">
						<img src="images/song.png" alt=" " class="img-responsive" />
						<h4>Song Lê</h4>
						<h5>CEO & Founder</h5>
						<p>Là lập trình viên với hơn 10 năm kinh nghiệm. Với những kinh nghiệm trong nghề, anh mong muốn đào tạo ra những lập trình viên tài năng</p>
					</div>
					<div class="item agileits_testimonials_grid">
						<img src="images/khai.jpg" alt=" " class="img-responsive" />
						<h4>Khải</h4>
						<h5>LTV & Mentor</h5>
						<p>Là lập trình viên hơn 5 năm kinh nghiệm, anh là người có kiến thức rất tốt. Với đam mê của mình, anh ấy rất tận tâm trong việc giảng dạy học viên</p>
					</div>
					<div class="item agileits_testimonials_grid">
						<img src="images/hieu.jpg" alt=" " class="img-responsive" />
						<h4>Đỗ Trung Hiếu</h4>
						<h5>Mentor</h5>
						<p>Cựu học sinh xuất sắc nhất của khóa học đầu tiên, người truyền đạt nhiều kiến thức mới và kinh nghiệm học tập bổ ích</p>
					</div>
					<div class="item agileits_testimonials_grid">
						<img src="images/song.png" alt=" " class="img-responsive" />
						<h4>Song Lê</h4>
						<h5>CEO & Founder</h5>
						<p>Là lập trình viên với hơn 10 năm kinh nghiệm. Với những kinh nghiệm trong nghề, anh mong muốn đào tạo ra những lập trình viên tài năng</p>
					</div>
					<div class="item agileits_testimonials_grid">
						<img src="images/hieu.jpg" alt=" " class="img-responsive" />
						<h4>Đỗ Trung Hiếu</h4>
						<h5>Mentor</h5>
						<p>Cựu học sinh xuất sắc nhất của khóa học đầu tiên, người truyền đạt nhiều kiến thức mới và kinh nghiệm học tập bổ ích</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //team -->	
	<!--//main-header-->
	<script type="text/javascript" src="js/jquery.zoomslider.min.js"></script>
	<!-- testimonial -->
	<div class="wthree-testi cs-section" id="testimonials">
		<!-- container -->
		<div class="container">
			<h3 class="cs-title">Testimonials</h3> 
			<div class="wthree-testi_grids text-center">
				<section class="slider">
					<div class="flexslider">
						<ul class="slides">
							<li>	
								<div class="wthree-testi_grid">
									<div class="testimonial-left">
										<i class="fa fa-user" aria-hidden="true"></i> 
									</div>
									<p>Khóa học rất bổ ích, anh Mentor rất nhiệt tình</p>
									<h5>Gia  Huy</h5>
								</div>
							</li>
							<li>	
								<div class="wthree-testi_grid">
									<div class="testimonial-left">
										<i class="fa fa-user" aria-hidden="true"></i> 
									</div>
									<p>Chương trình học rất thực tế đáp ứng được nhu cầu của doanh nghiệp !!!</p>
									<h5>Nguyễn Huân</h5>
								</div>
							</li>
							<li>	
								<div class="wthree-testi_grid">
									<div class="testimonial-left">
										<i class="fa fa-user" aria-hidden="true"></i> 
									</div>
									<p>Em học được rất nhiều bài học hay từ kinh nghiệm thực tế của thầy và các anh mentor </p>
									<h5>Nguyễn Hoan</h5>
								</div>
							</li>
						</ul>
					</div>
				</section>
				
			</div>
		</div>
	</div>
	<!-- //testimonial --> 

	<!-- contact -->
	<div class="contact-bottom cs-section" id="contact">
		<div class="container">
			<h3 class="cs-title">contact</h3>
			<p>VUI LÒNG ĐỂ LẠI LỜI NHẮN</p>
			<div class="CSlayouts-list">
				<div class="col-md-4 li"><span class="fa fa-map-marker" aria-hidden="true"></span><h6>459 Sư Vạn Hạnh, Quận 10 - HCM</h6></div>
				<div class="col-md-4 li"><span class="fa fa-phone" aria-hidden="true"></span><h6>+84 961.05.10.14</h6></div>
				<div class="col-md-4 li"><span class="fa fa-location-arrow" aria-hidden="true"></span><a>info@cybersoft.edu.vn</a></div>
				<div class="clearfix"></div>
			</div>	
			<div class="col-md-12 col-sm-12 col-xs-12 contact-right-CSl">
				<form action="#" method="post">
					<input type="text" class="name" name="name" placeholder="First Name" required="">
					<input type="text" class="name" name="name" placeholder="Last Name" required="">
					<input type="email" class="name" name="name" placeholder="Email" required="">
					<input type="text" class="name" name="name" placeholder="Subject" required="">
					<textarea placeholder="Your Message" required=""></textarea>
					<input type="submit" value="SEND MESSAGE">
				</form>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- //contact -->
	<!-- subscribe -->
	<div class="cs-section subscribe text-center">
		<div class="container">
			<h3 class="cs-title">subscribe now!</h3>
			<p>Enter your email address to get the latest news, special events and student activities delivered right to your inbox.</p>
			<div class="subscribe-grid">
				<form action="#" method="post">
					<input type="email" placeholder="Enter your email.." name="Subscribe" required="">
					<button class="btn1">subscribe</button>
				</form>
			</div>
		</div>
	</div>
	<!-- //subscribe -->
	<!-- footer -->
	<div class="agileits_CSlayouts-footer">
		<div class="col-md-6 col-sm-8 agileinfo-copyright">
			<p>© 2017 CYBERSOFT.EDU.VN</p>
		</div>
		<div class="col-md-6 col-sm-4 agileinfo-icons">
			<ul>
				<li><a class="icon fb" href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a class="icon tw" href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a class="icon pin" href="#"><i class="fa fa-pinterest"></i></a></li>
				<li><a class="icon db" href="#"><i class="fa fa-dribbble"></i></a></li>
				<li><a class="icon gp" href="#"><i class="fa fa-google-plus"></i></a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
	<!-- footer -->
	<!-- bootstrap-modal-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header text-header">
					<img src="images/cybersoft-logo-min.png" alt="cybersoft-academy">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
				<div class="modal-body">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/9TdQu_29gGk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					<b>CyberSoft Academy là học viện tiên phong tại Việt Nam áp dụng phương pháp đào tạo Active Learning và Flipped Learning thông qua các dự án thực tiễn trong lĩnh vực đào tạo CNTT. Học viên sẽ đóng vai trò là một Scrum member trong mô hình Agile để trở thành một lập trình chuyên nghiệp, đáp ứng mọi nhu cầu tuyển dụng của Doanh nghiệp – CYBERSOFT CEO</b><br>
					<h4 class="tbk__title" itemprop="headline">"BẠN THẬT SỰ MUỐN TRỞ THÀNH MỘT CHUYÊN GIA LẬP TRÌNH - CÓ VIỆC LÀM NGAY SAU KHÓA HỌC ? " </h4>
				</div>
				<div class="modal-footer">
        			<button id="Start_Learn"><a href="../signin/index.html" target="_blank">START LEARN<a></button>
      			</div>
			</div>
		</div>
	</div>
	<div class="modal video-modal fade" id="myModal_1" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header text-header">
					<img src="images/cybersoft-logo-min.png" alt="cybersoft-academy">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
				<div class="modal-body">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/Qmposk8Lfyg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					<b>[CyberSoft.edu.vn] - Đồ án cuối khóa lập trình Front-End chuyên nghiệp</b><br>
					<h4 class="tbk__title" itemprop="headline">[ĐỒ ÁN CUỐI KHÓA: LẬP TRÌNH FRONT-END CHUYÊN NGHIỆP - CẤP CHỨNG NHẬN VÀ GIỚI THIỆU VIỆC]<br>
						***CÔNG NGHỆ SỬ DỤNG***<br> Sử dụng tất cả những công nghệ mới nhất và đáp ứng mọi vị trí tuyển dụng FrontEnd:<br>
					Wireframe/UX/UI phối hợp/Angular/(Web API/Restful services/JSon)/SASS/Bootstrap/Animation/Wow/Chart </h4>
				</div>
				<div class="modal-footer">
        			<button id="Start_Learn"><a href="../signin/index.html" target="_blank">START LEARN<a></button>
      			</div>
			</div>
		</div>
	</div>
	<div class="modal video-modal fade" id="myModal_2" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header text-header">
					<img src="images/cybersoft-logo-min.png" alt="cybersoft-academy">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
				<div class="modal-body">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/XpyZc9CzZLs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					<b>[CyberSoft.edu.vn] - Chuyên Gia Back-End NodeJs, ReactJs, MongoDB theo dự án - Thử đồ online</b><br>
					<h4 class="tbk__title" itemprop="headline">"CHUYÊN GIA FULL-STACK JAVASCRIPT: REACT JS, NODEJS/EXPRESS, MONGODB - CÔNG VIỆC HOT NHẤT VÀ CÓ MỨC LƯƠNG CAO NHẤT HIỆN NAY - ĐỪNG BỎ LỠ CƠ HỘI TRONG TẦM TAY BẠN !! "</h4>
				</div>
				<div class="modal-footer">
        			<button id="Start_Learn"><a href="../signin/index.html" target="_blank">START LEARN<a></button>
      			</div>
			</div>
		</div>
	</div>
	<!-- //bootstrap-modal-pop-up --> 
	<script src="js/owl.carousel.js"></script>  
	<script>
		$(document).ready(function() { 
			$("#owl-demo").owlCarousel({
			  autoPlay: true, //Set AutoPlay to 3 seconds
			  items :3,
			  itemsDesktop : [640,2],
			  itemsDesktopSmall : [414,1],
			  navigation : true,
			  // THIS IS THE NEW PART
			  afterAction: function(el){
					//remove class active
					this
					.$owlItems
					.removeClass('active')
					//add class active
					this
					.$owlItems //owl internal $ object containing items
					.eq(this.currentItem + 1)
					.addClass('active')
				}
			// END NEW PART
		});
			
		}); 
	</script>
	
	<!-- here starts scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
				
					var defaults = {
					containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
					};
					

					$().UItoTop({ easingType: 'easeOutQuart' });

				});
			</script>
			<!-- flexSlider -->
			<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
			<script defer src="js/jquery.flexslider.js"></script>
			<script type="text/javascript">
				$(window).load(function(){
					$('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
							$('body').removeClass('loading');
						}
					});
				});
			</script>
			<!-- //flexSlider -->

			<!-- start-smoth-scrolling -->
			<script type="text/javascript" src="js/move-top.js"></script>
			<script type="text/javascript" src="js/easing.js"></script>
			<script type="text/javascript">
				jQuery(document).ready(function($) {
					$(".scroll").click(function(event){		
						event.preventDefault();
						$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
					});
				});
			</script>
			<!-- /ends-smoth-scrolling -->
			<!-- //here ends scrolling icon -->
			<script src="js/SmoothScroll.min.js"></script>


		</body>
		</html> 