<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
   Myclass-Amin
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
  <link href="../../signin/css/sweetalert2.min.css" rel="stylesheet" />
  
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="orange" data-background-color="orange" data-image="../assets/img/sidebar-1.jpg">
      <div class="logo">
        <a href="#" class="simple-text logo-normal">
          QUẢN LÝ TRUNG TÂM
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item ">
            <a class="nav-link" href="./dashboard.html">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./user.html" id="ThongTinAmin">
              <i class="material-icons">person</i>
              <p>Thông tin tài khoản</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./DanhSachNguoiDung.html" id="DanhSachNguoiDung">
              <i class="material-icons">content_paste</i>
              <p>Danh sách người dùng</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="./DanhSachKhoaHoc.html" id="DanhSachKhoaHoc">
              <i class="material-icons">library_books</i>
              <p>Danh sách khóa học</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./DanhSachHocVien.html" id="DanhSachHocVien">
              <i class="material-icons">list</i>
              <p>Danh sách học viên</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="../../home/index.html" id="LogOutAmin">
              <i class="material-icons">close</i>
              <p>Đăng Xuất</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#pablo">QUẢN LÝ KHÓA HỌC</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form">
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Nhập họ tên..." id="txtTimKiem">
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" id="btnTaoKhoaHoc">
                  <i class="material-icons">add_box</i>
                  <p class="d-lg-none d-md-block">
                    Thêm Người Dùng
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="btnXoaKhoaHoc">
                  <i class="material-icons" >delete</i>
                  <p class="d-lg-none d-md-block">
                    Xóa Người Dùng
                  </p>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" id="btnGhiDanh" >
                  <i class="material-icons">filter_none</i>
                  <p class="d-lg-none d-md-block">  
                    Chọn số dòng
                  </p>
                </a>
              </li>
              <li>
                <select id="Rows">
                  <option value="500000">Hiện tất cả</option>
                  <option value="3">3</option>
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                </select>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Danh sách khóa học</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                    <table class="table" id="Table">
                      <thead class=" text-primary" >
                        <th>Mã khóa học</th>
                        <th>Tên khóa học</th>
                        <th>Mô tả</th>
                        <th>Lượt Xem</th>
                        <th>Hình ảnh</th>
                        <th>Người tạo</th>
                        <th>Chỉnh sửa</th>
                        
                      </thead>
                      <tbody id="tbodyDSKH">
                        

                      </tbody>
                    </table>
                    <div class="pagination-container">
                        <nav>
                            <ul class="pagination"></ul>
                        </nav>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        <a href="#">CyberSoft</a>
                    </p>
                </div>
            </footer>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Write to us</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-3">
                    <i class="fa fa-user prefix grey-text"></i>
                    <label data-error="wrong" data-success="right" >Mã khóa học</label>
                    <input type="text" id="MaKhoaHoc" class="form-control validate" > 
                </div>

                <div class="md-form mb-3">
                    <i class="fa fa-tag prefix grey-text"></i>
                    <label data-error="wrong" data-success="right" >Tên khóa học</label>
                    <input type="text" id="TenKhoaHoc" class="form-control validate"> 
                </div>
                <div class="form-group mb-3">
                    <i class="fa fa-comment prefix grey-text"></i>
                    <label>Mô Tả</label>
                    <textarea id="MoTa" class="form-control" name="MoTa"></textarea>
                </div>

                <div class="md-form mb-3">
                    <i class="fa fa-low-vision prefix grey-text"></i>
                    <label data-error="wrong" data-success="right" >Lượt Xem</label>
                    <input type="text" id="LuotXem" class="form-control validate"> 
                </div>

                <div class="md-form mb-3">
                    <i class="fa fa-file-image-o prefix grey-text"></i>
                    <label data-error="wrong" data-success="right" >Hình Ảnh</label>
                    <input type="text" id="HinhAnh" class="form-control validate"> 
                </div>
                <div class="md-form">
                    <i class="fa fa-bookmark prefix grey-text"></i>
                    <label data-error="wrong" data-success="right" >Người Tạo</label>
                    <select id="NguoiTao" class="form-control">
          
                    </select>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                
            </div>
        </div>
    </div>
</div>

<div class="text-center d-none">
    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalContactForm" id="btnPopupModal">Launch Modal Contact Form</a>
</div>
  <!-- // -->
<!-- Modal -->
  <div class="modal fade" id="popupGhiDanh" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Ghi danh khóa học</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">

                <div class="md-form mb-4">
                    <i class="fa fa-paint-brush prefix grey-text mr-2"></i>
                    <label data-error="wrong" data-success="right" >Tên khóa học</label>
                    <select id="TenKH" class="form-control">
                       
                    </select>
                </div>
                <div class="md-form">
                    <i class="fa fa-user-circle prefix grey-text mr-2"></i>
                    <label data-error="wrong" data-success="right" >Danh sách học viên</label>
                    <select id="TenND" class="form-control">
                       
                    </select>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button id="GhiDanh" class="btn btn-success">Ghi Danh</button>
                <button id="btnDong" class="btn btn-danger">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="text-center d-none">
    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#popupGhiDanh" id="popupGhiDanhKH">Launch Modal Contact Form</a>
</div>
  <!-- // -->

  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Chartist JS -->
  <script src="../assets/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/material-dashboard.min.js?v=2.1.0" type="text/javascript"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="../../../../assets/js/jquery.twbsPagination.min.js"></script>
  <script src="../assets/demo/demo.js"></script>

  <script src="../../../../assets/js/sweetalert2.all.js"></script>
  <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
  
  <script src="../../../controllers/TaiKhoan/Validation.js"></script>
  <script src="../../../models/KhoaHoc/KhoaHoc.js"></script>
  <script src="../../../models/KhoaHoc/DanhSachkhoaHoc.js"></script>
  <script src="../../../services/KhoaHoc/KhoaHocServices.js"></script>
  <script src="../../../services/NguoiDung/NguoiDungServices.js"></script>
  <script src="../../../controllers/KhoaHoc/main_khoahoc.js"></script>
  <script src="../../../controllers/KhoaHoc/PhanTrang.js"></script>
</body>

</html>